body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #777;
    width: 980px;
    font-size: 18px;
    color: 777;
}
header, nav, section, aside, footer, {
background-color: #ebebeb;
}
header{
    background-color: white;

    text-align: center;
    height: 99px ;
    margin-left: 180px;
    margin-right: 155px;
    width: 940px;
    align-items: center;
    justify-content: center;
    color:#777
    
}

nav {
    background-color: white;
    text-align: center;
    height: 99px ;
    margin-left: 180px;
    margin-right: 155px;
    width: 940px;
    float: center;
    margin-top: 5px;
    color: #777;

}
   
article {
    background-color: #777;
    color: white;
    height: 167px ;

    padding: 5px 30px 58px 30px;

    position: absolute;
    top:58px;
    left: 34px;
    width: 396px;

    margin-right: 40px;    
    text-align:center;
    vertical-align: top;
    font-weight: 900;
}
div {
    height: 34px;
    width: 381px;
    background: white;
    text-align: center;
    color: #777;
    

}
.heading {
    position: relative;
    right: 13px;
    bottom: 5px;
    color: #777;
    padding: 1em;
    border-radius: 5px;
    border: #777;
    font-weight: 900;
}

.parrafo {
    position:relative;
    right: 13px;s
    top: 5px;
    color: #777;
    padding: 1em;
    border-radius: 5px;
    border: #777;
    font-weight: 10;
}
section {
    width: 495px;
    height:282px ;
    background-color: white;
    text-align: center;
    position: relative;
    left: 180px;
    margin: 1em auto;
    margin-right: 488px;
    padding: 15px 10px 0px 1px;
    color:#777;
    
}
aside{
    background-color: white;
    color: #777;   
    text-align: center;
    height: 296px ;
    width: 399px;

    position: relative;

    left: 720px;
    bottom:315px;
    color: #777;
}
footer {
    background-color: white;
    text-align: center;
    height: 109px ;
    margin-left: 682px;
    margin-right: 155px;
    width: 950px;
    position: relative;
    right:508px ;
    top:-300px;
color: #777;